div .post {
   padding: 10px;
   border: 2px solid green;
  /* background-color: aqua; */
  text-align: center;
    width: 50%;
    height: 120px;
    margin: 25px;
   
    align-items: center;
    margin-left: 400px;
    
}

.post .post1{
color: black;
}

